<ion-nav>

  <ion-header class="select-location__header">
    <ion-button fill="clear" class="select-location__back-btn" href="" routerDirection="back">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title class="select-location__title">Select a Location</ion-title>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item class="selected-locations__item" *ngFor="let l of locations">
        <a [routerLink]="['/estates', l.id]">
          {{l.name}}
        </a>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-nav>