<!-- <ion-card>
  <ion-img src={{data.image}}></ion-img>
  <ion-card-content class="overview__content">
    <div>
      <ion-button class="overview__btn" (click)="onClick()" fill={{btnColor}}>
        <ion-icon slot="start" name="bookmark"></ion-icon>
        {{btnTxt}}
      </ion-button>
    </div>
    <div class="overview__info-wrapper">
      <div class="overview__side overview__side--right">
        <div class="overview__type">{{data.type}}</div>
        <div class="overview__size">
          <span>
            <ion-badge slot="start" color="primary">{{data.bedrooms}}</ion-badge>
          </span>
          <span class="overview_bdr-txt"> Bedrooms</span>
        </div>
      </div>
      <div class="overview__side overview__side--left">
        <div class="overview__area">Area: {{data.area}} m<sup>2</sup></div>
        <div class="overview__price">Price: {{data.price | currency: 'USD':'symbol':'1.2-2'}}</div>
      </div>
    </div>
    <div class="overview__address">{{data.address}}</div>
  </ion-card-content>
</ion-card> -->