.estate-view__header
{
    position:relative;
    padding: 5px 0;
    color: #fff;
    background-color: #337499;
}

.estate-view__header-home-icon
{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    ion-icon
    {
        width: 30px;
        height:30px;
        color:#fff;
    }
}

.estate-view__back-btn
{
    ion-icon
    {
        color: #fff;
    }
}

.estate-view__back-btn,
.estate-view__title
{
    vertical-align: middle;
}

.estate-view__back-btn
{
    text-transform: uppercase;
}
.estate-view__title
{
    display: inline-block;
}

.estate__footer
{
    display: flex;
    padding: 10px;
}

.footer_item
{
    flex: 1 1 33.3333%;
    text-align: center;
    align-self: center;
}

.footer__icon
{
    width: 20px;
    height: 20px;
}

.footer__title
{
    font-size: 13px;
}

//overview
.overview__content
{
    padding-top: 10px;
}
.overview__info-wrapper
{
    display: flex;
    margin-bottom: 20px;
}

.overview__side
{
    flex: 1 1 50%;
    align-self: center;
}

.overview__size 
{
    span
    {
        display: inline-block;
        vertical-align: middle;
    }
    ion-badge
    {
        padding: 2px 7px;
    }
}

.overview_bdr-txt
{
    padding-left: 5px;
    padding-bottom: 5px;
}

.overview__btn
{
    margin-bottom: 10px;
}

.overview__price
{
    padding-bottom: 6px;
}

//similar
.estates__region-heading
{
    padding: 10px 15px;
    color: #fff;
    background-color: #60aa99;
    font-size: 14px;
}

.similar__select
{
    display: flex;
    padding:20px;
    margin: 20px 30px;;
    text-align: center;
}
.similar__select-item
{
    flex: 1 1 40%;
    align-self: center;
}
.similar__select-item-label
{
    padding-bottom: 5px;
}
.similar__select-item-toggle
{
    flex: 1 1 20%;
}
.similar__select-item-select
{
    ion-select
    {
        padding-left: 25px;
        padding-right: 5px;
    }
}

.similar__segment,
.similar__select
{
    background-color: #f2f2f2;
}