.estate__footer
{
    display: flex;
    padding: 10px;
}

.footer_item
{
    flex: 1 1 33.3333%;
    text-align: center;
    align-self: center;
}

.footer__icon
{
    width: 20px;
    height: 20px;
}

.footer__title
{
    font-size: 13px;
}